@media (max-width: 1540px) {
    .container {
        width: 968px;
    }
    .logo {
        width: 80px;
        height: 60px;
    }
    .main-wrapper {
        height: 820px;
    }
    .nav-list__item a {
        font-size: 14px;
    }
    .header-contacts__numbers {
        font-size: 18px;
    }
    .main-content__title {
        font-size: 56px;
    }
    .main-content__desk,
    .main-social__title,
    .main-content__text,
    .main-content__title span {
        font-size: 16px;
    }
    .main-btn__details,
    .main-btn__participation {
        font-size: 12px;
    }
    .main-img-after {
        width: 180px;
    }
    .main-img-before {
        width: 250px;
        right: 0;
    }
    .about-list {
        margin-bottom: 60px;
    }   
    .whom-list__img {
        height: 120px;
    }
    .whom-list__title,
    .about-list li {
        font-size: 16px;
    }
    .about-img {
        top: 50%;
        transform: translateY(-55%);
    }
    .whom-title,
    .about-content__title,
    .module-wrapper__title {
        font-size: 40px;
    }
    .about-content__title::before {
        width: 100px;
        height: 120px;
    }
    .module-wrapper__des {
        font-size: 18px;
    }
    .module-wrapper__text {
        font-size: 14px;
    }
    .module-link {
        font-size: 20px;
    }
    .module-link-activ {
        font-size: 24px;
    }
    
    .module-link-second {
        top: 50px;
    }
    .module-link-three {
        top: 100px;
    }
    .module-link-four {
        top: 150px;
    }
    .module-link-five {
        top: 200px;
    }
    .module-link-six {
        top: 250px;
    }
    .module-link-seven {
        top: 300px;
    }
    .box {
        min-height: 600px;
    }
    .box-list__item,
    .box-item-link__title,
    .box-item-link__number {
        font-size: 16px;
    }
    .box-item-link-icon {
        width: 12px;
        height: 12px;
    }
    .bonus-content {
        width: 920px;
    }
    .bonus-list__text {
        font-size: 16px;
    }
    .guarantee p,
    .bonus-list__price p,
    .bonus-list__price h2 {
        font-size: 18px;
    }
    .bonus-bg {
        width: 768px;
        height: 350px;
        top: -130px;
    }
    .rate-title {
        font-size: 40px;
    }
    .rate-list {
        justify-content: space-between;
    }
    .rate-list__item {
        width: 32%;
    }
    .rate-list__title {
        font-size: 30px;
    }
    .сard-list__item {
        font-size: 14px;
    }
    .svg {
        width: 20px;
        height: 20px;
    }
    .rate-list__price {
        font-size: 30px;
    }
    .rate-list__btn {
        font-size: 14px;
    }
    .rate-list__last-text {
        font-size: 12px;
    }
    .messager-title {
        font-size: 26px;
        padding: 0 240px;
        margin-bottom: 40px;
    }
    .messager-list__des {
        font-size: 16px;
    }
    .descriptions-list li {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .descriptions-list::after,
    .descriptions-list::before {
        font-size: 50px;
    }
    .lecturer-img__name {
        font-size: 30px;
    }
    .lecturer-content__who {
        font-size: 40px;
    }
    .lecturer-content__name {
        font-size: 20px;
    }
    .footer-list__item a,
    .lecturer-list__item {
        font-size: 14px;
    }
    .step {
        height: 540px;
    }
    .step-img {
        width: 640px;
        height: 360px;
    }
    .step-img__text {
        font-size: 20px;
    }
    .step-list li {
        width: 280px;
    }
    .step-list__text,
    .step-list__title {
        font-size: 16px;
    }
   
}
@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .main-wrapper {
        height: auto;
        padding-bottom: 40px;
        margin-bottom: 60px;
    }
    .logo {
        width: 70px;
        height: 50px;
    }
    .nav-list__item a {
        font-size: 12px;
    }
    .header-contacts__numbers {
        font-size: 18px;
    }
    .main-content {
        width: 100%;
    }
    .main-content__title {
        font-size: 60px;
    }
    .main-social__text,
    .main-social__title,
    .main-content__desk,
    .main-content__text {
        font-size: 20px;
    }
    .main-dotter {
        margin-bottom: 0;
    }
    .main-img-after {
        display: none;
    }
    .main-img-before {
        position: static;
        width: 50%;
        transform: translateY(0);
        margin: 0 auto;
    }
    .about-img {
        position: static;
        transform: translate(0,0);
    }
    .about-bg {
        display: none;
    }
    .about-content {
        width: 100%;
    }
    .about-content__title {
        display: block;
        text-align: center;
    }
    .about-content__title::before {
        left: 70%;
    }
    .about-list li {
        font-size: 20px;
        text-align: center;
    }
    .whom-list {
        flex-direction: column;
    }
    .whom-list li {
        width: 100%;
        margin-bottom: 40px;
    }
    .whom-list__title {
        font-size: 20px;
        text-align: center;
    }
    .wrapper {
        background-position: 50% 25%;
    }
    .module-wrapper__title {
        font-size: 30px;
    }
    .module-wrapper__des {
        font-size: 16px;
    }
    .module-wrapper__text {
        font-size: 12px;
    }
    .module-link {
        font-size: 18px;
    }
    .module-link-activ {
        font-size: 22px;
    }
    
    .box {
        min-height: 560px;
    }
    .box-list__item,
    .box-item-link__title,
    .box-item-link__number {
        font-size: 14px;
    }
    .box-item-link-icon {
        width: 12px;
        height: 12px;
    }
    .bonus-bg {
        width: 70%;
        top: -100px;
    }
    .bonus-content {
        width: 90%;
    }
    .bonus-list li {
        flex-direction: column;
    }
    .bonus-list__number {
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .bonus-list__text {
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .bonus-list__price p ,
    .bonus-list__price h2 {
        text-align: center;
    }
    .guarantee {
        width: 90%;
    }
    .rate-title {
        font-size: 30px;
    }
    .rate-list {
        justify-content: space-between;
    }
    .rate-list__item {
        width: 32%;
        padding: 0 20px;

    }
    .rate-list__title {
        font-size: 24px;
    }
    .сard-list__item {
        font-size: 14px;
    }
    .messager-title {
        padding: 0;
    }
    .messager-list {
        flex-direction: column;
    }
    .messager-list li {
        width: 100%;
        margin-bottom: 40px;
    }
    .messager-list__img {
        margin: 0 auto;
    }
    .messager-list__des {
        font-size: 20px;
        text-align: center;
    }
    .descriptions-list {
        width: 90%;
        margin: 0 auto;
    }
    .descriptions-list li {
        font-size: 20px;
    }
    .descriptions-list__img {
        position: static;
        width: 90%;
        margin: 0 auto;
    }
    .descriptions-list::before {
        position: absolute;
        left: 0;
        top: -30px;
        font-size: 40px;
    }
    .descriptions-list::after {
        right: 0;
        bottom: -60px;
        font-size: 40px;
    }
    .step {
        display: none;
    }
    .step-mobill {
        display: block;
        margin-bottom: 60px;
    }
    .step-mobill__title {
        font-size: 24px;
        text-align: center;
        font-weight: 900;
        margin-bottom: 40px;
    }
    .step-mobill-list {
        padding: 0;
        list-style-type: none;
    }
    .step-mobill-list li {
        margin-bottom: 40px;
    }
    .step-mobill-list__title {
        text-align: center;
        margin: 0;
        font-weight: 900;
        font-size: 18px;
        font-style: italic;
    }
    .step-mobill-list__img {
        display: block;
        width: 40%;
        margin: 0 auto;
    }
    .step-mobill-list__text {
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        padding: 0 20px;
    }
    .footer-list__item a,
    .lecturer-list__item {
        font-size: 12px;
        padding: 0 10px;
    }
    .lecturer-list__item {
        padding-left: 20px;
    }
    .lecturer-list__target {
        padding-right: 0;
    }
    .footer {
        width: 500px;
    }
} 
@media (max-width: 740px) {
    .container {
        width: 90%;
    }
    .main-wrapper {
        height: auto;
    }
    .header {
        padding: 20px 0 80px 0;
    }
    .logo {
        width: 90px;
        height: 72px;
    }
    .nav-list {
        display: none;
    }
    .main-content {
        width: 100%;
    }
    .main-content__title {
        text-align: center;
        margin-bottom: 20px;
    }
    .main-content__title span {
        left: 25%;
    }
    .main-social__title,
    .main-content__text {
        font-size: 20px;
        text-align: center;
    }
    .main-social__title {
        margin-bottom: 20px;
    }
    .social-list {
        display: flex;
        justify-content: center;
    }
    .main-btn {
        flex-direction: column;
        padding-bottom: 40px;
    }
    .main-btn__details,
    .main-btn__participation {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .about-content__title::before {
        top: -20px;
        left: 80%;
        width: 60px;
        height: 60px;
    }
    .bonus-free {
        display: none;
    }
    .wrapper {
        background-image: none;
    }
    .module-wrapper {
        padding-bottom: 80px;
    }
    .module-item {
        margin-bottom: 20px;
    }
    .module-link,
    .module-link-second,
    .module-link-three,
    .module-link-four,
    .module-link-five,
    .module-link-six,
    .module-link-seven {
        top: 0;
        position: static;
        padding: 40px;
        font-weight: 700;
        font-size: 28px;
        color: #000;
    }
    .module-item {
        flex-direction: column;
        justify-content: flex-start;
    }
    .module-item {
        background-color: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .box {
        width: 100%;
        min-height: auto;
        box-shadow: none;
        padding: 10px;
    }
    .box-item-link {
        padding: 20px;
        flex-direction: column;
        box-sizing: border-box;
    }
    .box-content {
        padding: 20px 40px;
    }
    .box-item-link__title,
    .box-item-link__number {
        display: block;
        width: 100%;
        font-size: 16px;
        margin-right: 0;
    }
    .bonus-bg {
        top: -60px;
    }
    .guarantee::before {
        width: 320px;
        height: 220px;

    }
    .rate {
        margin-bottom: 80px;
    }
    .rate-title {
        margin: 0;
        font-size: 32px;
        margin-bottom: 30px;
    }
    .rate-list {
        flex-direction: column;
    }
    .rate-list__item {
        width: 100%;
        padding: 0 40px;
        margin-bottom: 20px;
    }
    .rate-list__title {
        font-size: 40px;
    }
    .сard-list__item {
        font-size: 16px;
    }
    .svg {
        width: 26px;
        height: 26px;
    }
    .messager-title {
        font-size: 22px;
    }
    .messager-list__img {
        height: 240px;
    }
    .descriptions-list {
        width: 100%;
    }
    .lecturer {
        flex-direction: column-reverse;
    }
    .lecturer-content,
    .lecturer-img {
        width: 100%;
    }
    .lecturer-content__who {
        font-size: 40px;
        text-align: center;
        margin: 0;
    }
    .lecturer-content__name {
        text-align: center;
        font-size: 25px;
    }
    .lecturer-list__item {
        font-size: 16px;
        padding-left: 30px;
    }
    .footer {
        width: 100%;
    }
    .footer-list {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .footer-list__item a {
        margin-bottom: 20px;
    }
    .footer-icons {
        flex-direction: column;
        align-items: center;
    }
    .footer-text {
        font-size: 12px;
        padding: 0 8px;
    }
    

}